@page "/categories"

@implements IAsyncDisposable
@inject IDbContextFactory<BlazorBlog.Server.Data.AppDbContext2Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="categories/create">Create New</a>
</p>


<div class="mt-6 overflow-x-auto px-4 md:px-8">
    <CategoryTableComponent categories="categories"/>
</div>

@code {
    private AppDbContext2Context context = default!;

    public List<Category> categories { get; set; } = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        categories = context.Category.AsNoTracking().ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
